# 1. Nom affiché dans l'interface GitHub
name: CI

# 2. Quand le workflow s'exécute
on:
  push:
    

# 3. Les jobs (tâches) à exécuter
jobs:
  # Identifiant du job (pas d'espaces)
  test:
  # Machine virtuelle utilisée
    runs-on: ubuntu-latest

    # 4. Les étapes du job
    steps:
      # Étape 1: Vérifier le code
      - name: Checkout du code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # Étape 2: Installer les dépendances
      - name: Install Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: '20'

      # Étape 3: Exécuter les tests
      - name: Lacer le test
        run: npm test
